<footer class="footer" ng-controller="DateYear">
	<div class="container">
		<div class="row col-xs-12">
			<p>&copy;  {{ date | date:'yyyy'}} Phillip Medina | Portfolio All Rights Reserved.</p>
		</div>
	</div>
</footer>
