<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a scroll-to class="navbar-brand" href="#mainCtnr">{{dude.user.siteTitle}}</a>
    </div>
  </div>
</nav>
